name: Flutter Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:
#     inputs:
#       environment:
#         type: string
#         default: TEST
#         required: false
  
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@main
        
      - name: Setup Java
        uses: actions/setup-java@main
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'gradle'

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
#           flutter-version: '2.10.0' //use latest version
          channel: 'stable'
          cache: true
      
      - name: Check Flutter Version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          arch: arm64-v8a
          script: flutter drive --driver=test_driver/main_test.dart --target integration_test/main_test.dart
        
      - name: Build APK
        run: flutter build apk

#       - name: Run unit tests
#         run: flutter test --coverage

#       - name: Upload to code coverage
#         uses: codecov/codecov-action@v1.2.2
#         with:
#           token: ${{secrets.CODECOV_TOKEN}}
#           file: coverage/lcov.info

      - name: Setup Output APK
        id: artifact
        run: |
          echo "apk=build/app/outputs/apk/release/app-release.apk" >> $GITHUB_OUTPUT

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: release-apk
          path: ${{ steps.artifact.outputs.apk }}

      - name: Upload Screenshoots
        uses: actions/upload-artifact@v3
        with:
          name: Test result screenshots
          path: screenshots/*.png
